/* ==========================================================================
   BOILERPLATE STYLES
   ========================================================================== */

    /* ==========================================================================
       COLORS
       ========================================================================== */

        @white: rgb(255, 255, 255);
        @offWhite: rgb(246, 246, 246);
        @greyLightest: rgb(238, 238, 238);
        @greyLighter: rgb(150, 161, 169);
        @greyMidLight: rgb(140, 151, 159);
        @greyLight: rgb(95, 102, 111);
        @greyMid: rgb(92, 92, 92);
        @greyDark: rgb(61, 61, 61);
        @greyDarker: rgb(30, 30, 30);
        @greyDarkest: rgb(16, 16, 16);
        @offBlack: rgb(8, 8, 8);
        @black: rgb(0, 0, 0);

        @blackAlpha75: rgba(0, 0, 0, 0.75);
        @whiteAlpha10: rgba(255, 255, 255, 0.1);

        @blueLight: rgb(23, 148, 212);
        @blueDark: rgb(8, 72, 146);
        @blueDarkAlpha75: rgba(8, 72, 146, 0.75);
        @magenta: rgb(181, 12, 89);
        @blueBoma: rgb(0, 70, 148);
        @blueInputFocus: rgba(0,147,215,0.5);
        @magentaInputFocus: rgba(183,0,88,0.4);

    /* ==========================================================================
       TEMPLATE VARIABLES
       ========================================================================== */

        @defaultColor: @greyDark;

        @headerHeight: 90px;
        @footerHeight: 400px;
        @mobileHeaderHeight: @headerHeight * 1.0;

        @fontFamily: "proxima-nova-condensed", Helvetica, Arial, sans-serif;

        @zindexMainMenu: 100;
        @zindexLogo: 101;

    /* ==========================================================================
       MEDIA QUERIES
       ========================================================================== */


        @media0: ~"(min-width: 1440px)";
        @media0_: ~"(max-width: 1439px)";

        @media1: ~"(min-width: 1200px)";
        @media1_: ~"(max-width: 1199px)";

        @media2: ~"(min-width: 992px)";
        @media2_: ~"(max-width: 991px)";

        @media3: ~"(min-width: 768px)";
        @media3_: ~"(max-width: 767px)";

        @media4: ~"(min-width: 480px)";
        @media4_: ~"(max-width: 479px)";


        .clearFix(){
            &:after{
                content: "";
                display: block;
                clear: both
            }
        }

        .h1(){
            font-family: @fontFamily;
            margin-top: 0px;
            font-size: 3.8rem;
            text-transform: uppercase;
            line-height: 97px;
            letter-spacing: 4px;
            font-weight: 700;
            margin-bottom: 2rem;

            @media screen and @media3_{
                font-size: 4rem;
                line-height: 100%;
            }
        }

        .h2(){
            font-family: @fontFamily;
            margin-top: 0px;
            font-size: 3.4rem;
            text-transform: uppercase;
            line-height: 90%;
            font-weight: 700;
            margin-bottom: 2rem;
            @media screen and @media3_{
                font-size: 3.4rem;
                line-height: 100%;
            }
        }

        h1{
            .h1();
        }

        h2{
            .h2();
        }

        .displayInlineBlock(@vAlign: top){
            display: inline-block;
            *display: inline;
            vertical-align: @vAlign;
            *vertical-align: @vAlign;
        }

        .displayNone(){
            display: none !important;
        }
        .displayNone{
            .displayNone();
        }

/* ==========================================================================
   FOOTER STYLES
   ========================================================================== */
    
    html {
        font-size: 10px;
    }
    body {
        font-family: @fontFamily;
    }

    /* ==========================================================================
       FOOTER OVERRIDES
       ========================================================================== */

        .footer{
            background-color: @blueBoma;
            .ad_block{
                background-color: @white;
                padding: 3rem 0px;
                .ad_section{
                    .sponsor_ad_block{
                        .clearFix();
                        .sponsor_ads{
                            float: left;
                            width: 50%;
                            height: 100px;
                            iframe{
                                width: 100%;
                                height: 100px;
                                *{
                                    margin: 0px;
                                }
                            }
                            @media screen and @media1_{
                                width: 100%;
                                &:first-child{
                                    margin-bottom: 1rem;
                                }
                            }
                        }
                    }
                }
                .ad_section_sidebar{
                    text-align: center;
                    margin-bottom: 1rem;
                    .sponsor_ads{
                        .displayInlineBlock();
                        margin: 0px 1rem;
                    }
                }
            }
            .footer_info_block{
                background-color: @blueBoma;
                padding: 3rem 0px;
                a{
                    color: @white;
                }
                p{
                    color: @white;
                    margin-bottom: 0px;
                }
                .social_logo_container{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    height: 5rem;
                    @media screen and @media4_{
                        flex-flow: column nowrap;
                        height: auto;
                        margin-bottom: 1.5rem;
                    }
                }
                .social_media_block{
                    width: 50%;
                    ul{
                        padding: 0px;
                        list-style-type: none;
                        margin-bottom: 0px;
                        li{
                            .displayInlineBlock();
                            font-size: 1.4rem;
                            margin-right: 1.2rem;
                            font-weight: 500;
                            a{
                                font-size: 2.2rem;
                                margin-right: 0.6rem;
                            }
                        }
                    }
                }
                .footer_logo_block{
                    width: 50%;
                    @media screen and @media4_{
                        width: auto;
                    }
                }
                .footer_logo{
                    float: right;
                    width: 14rem;
                    height: auto;
                    p{
                        font-size: 1.3rem;
                    }
                    .displayTableCell{
                        vertical-align: bottom;
                    }
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                .footer_nav_block{
                    .clearFix();
                    margin-bottom: 2rem;
                    .footer_nav_block_container{
                        float: left;
                        height: 4rem;
                        .displayTableCell{
                            vertical-align: bottom;
                        }
                        ul{
                            padding: 0px;
                            list-style-type: none;
                            margin-bottom: 0px;
                            display: inline-block;
                            li{
                                .displayInlineBlock();
                                font-size: 1.4rem;
                                margin-right: 0.7rem;
                                font-weight: 500;
                            }
                        }
                    }
                }
                .footer_contact_block{
                    .clearFix();
                    .footer_address{
                        float: left;
                    }
                    .footer_copyright{
                        float: right;
                    }
                    p{
                        font-size: 1.2rem;
                        font-weight: 400;
                    }
                }
            }
            @media screen and @media1_{
                height: 520px;
            }
            @media screen and @media2_{
                height: auto;
                .social_media_block{
                    margin-bottom: 1rem;
                }
                .footer_nav_block{
                    display: none;
                    .footer_nav_block_container{
                        float: left !important;
                        width: 100%;
                    }
                }
                .footer_contact_block{
                    .footer_address{
                        float: left !important;
                        width: 100%;
                        margin-bottom: 0.4rem;
                    }
                    .footer_copyright{
                        float: left !important;
                        width: 100%;
                    }
                }
            }
        }

/* ==========================================================================
   FORUM TABLE STYLES
   ========================================================================== */
    .sign_up_error{
        color: red;
        font-size: 1.5rem;
    }
    .footer{
        .member_login_btn_container{
            background-color: inherit;
            height: inherit;
            width: inherit;
            margin: 0;
        }
    }
    .member_login_btn_container{
        background-color: @greyLighter;
        height: 44px;
        width: 135px;
        border-radius: 25px;
        margin-left: 2rem;
        text-align: center;
        display: flex;
        .member_login_btn{
           justify-content: center;
           align-self: center;
           flex-direction: column;
           margin: 0 auto;
        }
    }
    @media screen and @media3_{
        li.bbp-forum-freshness{
            display: none;
        }
        li.bbp-forum-info{
            width: 70%;
        }
        li.bbp-forum-reply-count{
            width: 20%;
        }
    }
    @media screen and @media4_{
        li.bbp-forum-reply-count{
            width: 15%;
        }
    }
    #content{
        width: 800px;
        @media screen and @media2_{
            width: 100%;
            margin: 0;
        }
        margin: 0 auto;
        display: table;
        a{
            color: @blueBoma !important;
            font-weight: 800;
        }
        @media screen and @media2_{
            .left_column{
                display: inherit;
                #bbp-register{
                    width: 100%;
                }
            }
        }
        .left_column{
            padding-right: 0;
            @media screen and @media2_ {
                padding-left: 0px;
            }
        }
        .right_column{
            padding-left: 0;
            @media screen and @media2_ {
                padding-right: 0px;
            }
            .login-box-container{
                background-color: #005CB9;
                text-align: center;
                width: 43.8rem;
                padding-top: 13rem;
                padding-bottom: 15.2rem;
                @media screen and @media2_ {
                    margin: 0 auto;
                    width: 100%;
                    height: 45.2rem;
                    overflow: hidden;
                }
                @media screen and @media2{
                    height: 45.2rem;
                    overflow: hidden;
                }
                @media screen and @media3_ {
                    padding: 9.1rem 0;
                    height: 36.8rem;
                    overflow: hidden;
                }
                h1{
                    color: @white;
                    font-size: 2.8rem;
                    font-weight: 500;
                    letter-spacing: 1px;
                    line-height: 60px;
                }
                input{
                    background-color: #266fdf;
                    width: 274px;
                    height: 50px;
                    border-radius: 20px;
                    margin-bottom: 40px;
                    border: none;
                    color: @white;
                    box-shadow: 1px 1px 4px 0 #4A4A4A;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .wrap{
            @media screen and @media2_{
                padding: 2rem;
            }            
        }
        .entry-header{
            margin-bottom: 24px;
            h2{
                &.entry-title{
                    margin-top: 30px;
                    margin-bottom: 57px;
                    @media screen and @media4_{
                        text-align: center;
                        margin-bottom: 0px;
                    }
                }
            }
            .edit-link{
                font-size: 18px;
            }
        }
        .entry-content{
            h2{
                display: inline;
                @media screen and @media3_{
                    font-size: 2.8rem;
                }
                @media screen and @media4_{
                    text-align: center;
                    display: inherit;
                }
            }
            .bbp-search-form{
                margin-bottom: 18px;
                #bbp_search{
                    margin-right: 10px;
                }
            }
            #subscription-toggle{
                font-size: 1.6rem;
                float: right;
            }
            .sign-up-box-container{
                float: right;
                height: 45.2rem;
                overflow: hidden;
                @media screen and @media2_ {
                    width: 100%;
                    height: 45.2rem;
                    overflow: hidden;
                }
                @media screen and @media3_ {
                    height: 38.4rem;
                    overflow: hidden;
                }
                .sign-up-box{
                    text-align: center;
                    float: left;
                    background-color: #dddddd;
                    padding: 82px;
                    width: 43.8rem;
                    @media screen and @media2_ {
                        width: 100%;
                    }
                    @media screen and @media3_ {
                        padding: 51px;
                    }
                    h1{
                        font-size: 2.8rem;
                        font-weight: 600;
                        letter-spacing: 1px;
                        @media screen and @media3_ {
                            font-size: 2.3rem;
                        }
                    }
                    input[type="text"],
                    input[type="password"]{
                        border-radius: 20px;
                        border: none;
                        height: 50px;
                        width: 274px;
                        margin-bottom: 20px;
                        padding: 20px;
                        box-shadow: 3px 3px 6px #ccc;
                        &:focus{
                            outline: 0;
                            color: #4a4a4a;
                            border: 1px solid @blueInputFocus;
                        }
                        &::placeholder{
                            color: #c3c3c3;
                            opacity: 0.5;
                            font-family: @fontFamily;
                        }
                        &:focus::placeholder{
                            color: #000;
                            opacity: 0.5;
                        }
                    }
                    input[type="submit"]{
                        background-color: #266fdf;
                        width: 274px;
                        height: 50px;
                        border-radius: 20px;
                        margin-bottom: 40px;
                        border: none;
                        box-shadow: 3px 3px 6px #ccc;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
            .edit_profile_link{
                font-size: 1.8rem;
                float: right;
                margin-bottom: 2rem;
            }
            #bbpress-forums{
                @media screen and @media2_ {
                    margin-bottom: 0;
                    width: 100%;
                }
                .bbp-template-notice{
                    .bbp-topic-description, .bbp-forum-description{
                        font-size: 16px;
                        .avatar-14{
                            margin-bottom: -3px;
                        }
                    }
                }
                .bbp-forums{
                    .bbp-body{
                        .bbp-topic-meta{
                            font-size: 14px;
                           .avatar-14{
                               margin-bottom: -3px;
                           } 
                        }
                    }
                }
                .bbp-replies{
                    .bbp-body{
                        .bbp-reply-header{
                            .bbp-meta{
                                .bbp-admin-links{
                                    a{
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                        .bbp-parent-forum-21{
                            .bbp-author-role{
                                font-size: 14px;
                            }
                        }
                    }
                }
                .bbp-pagination{
                    font-size: 16px;
                }
                .bbp-reply-form{
                    form{
                        font-size: 16px;
                    }
                }
                #bbp-user-wrapper{
                    #bbp-user-body{
                        #bbp-user-profile,
                        #bbp-user-topics-started,
                        #bbp-user-replies-created,
                        #bbp-user-favorites,
                        #bbp-user-subscriptions,
                        #bbp-your-profile{
                            padding-top: 3px;
                        }
                        #bbp-user-subscriptions{
                            .bbp-user-section{
                                margin-bottom: 2rem;
                            }
                        }
                    }
                }
            }
            .bbp-topics{
                .bbp-body{
                    .bbp-topic-meta{
                        font-size: 14px;
                        .avatar-14{
                            margin-bottom: -3px;
                        }                        
                    }
                }
            }
        }
        #bbp-content{
            .container{
                margin-top: 100px;
                margin-bottom: 100px;
                @media screen and @media2_{
                    margin-top: 0;
                    margin-bottom: 0;
                    width: 100%;
                }
                .signup_login_container{
                    display: inline-flex;
                    margin: 0 auto;
                    @media screen and @media2_{
                        display: block;
                        margin: 0;
                        width: 100%;
                    }
                }
                .new_users_sidebar{
                    display: table;
                    border-top: 1px solid black;
                    @media screen and @media2_{
                        border: none;
                    }
                    width: 100%;
                    h1{
                        font-size: 2.8rem;
                        font-weight: 600;
                        margin-bottom: 0;
                        line-height: 6.5rem;
                        text-transform: none;
                        letter-spacing: 0;
                    }
                }
            }
        }
    }