/* ==========================================================================
   BOILERPLATE STYLES
   ========================================================================== */

    /* ==========================================================================
       COLORS
       ========================================================================== */

        @white: rgb(255, 255, 255);
        @offWhite: rgb(246, 246, 246);
        @greyLightest: rgb(238, 238, 238);
        @greyLighter: rgb(150, 161, 169);
        @greyMidLight: rgb(140, 151, 159);
        @greyLight: rgb(95, 102, 111);
        @greyMid: rgb(92, 92, 92);
        @greyDark: rgb(61, 61, 61);
        @greyDarker: rgb(30, 30, 30);
        @greyDarkest: rgb(16, 16, 16);
        @offBlack: rgb(8, 8, 8);
        @black: rgb(0, 0, 0);

        @blackAlpha75: rgba(0, 0, 0, 0.75);
        @whiteAlpha10: rgba(255, 255, 255, 0.1);

        @blueLight: rgb(23, 148, 212);
        @blueDark: rgb(8, 72, 146);
        @blueDarkAlpha75: rgba(8, 72, 146, 0.75);
        @magenta: rgb(181, 12, 89);
        @blueBoma: rgb(0, 70, 148);

    /* ==========================================================================
       TEMPLATE VARIABLES
       ========================================================================== */

        @defaultColor: @greyDark;

        @headerHeight: 90px;
        @footerHeight: 400px;
        @mobileHeaderHeight: @headerHeight * 1.0;

        @fontFamily: "proxima-nova-condensed", Helvetica, Arial, sans-serif;

        @zindexMainMenu: 100;
        @zindexLogo: 101;

    /* ==========================================================================
       MEDIA QUERIES
       ========================================================================== */


        @media0: ~"(min-width: 1440px)";
        @media0_: ~"(max-width: 1439px)";

        @media1: ~"(min-width: 1200px)";
        @media1_: ~"(max-width: 1199px)";

        @media2: ~"(min-width: 992px)";
        @media2_: ~"(max-width: 991px)";

        @media3: ~"(min-width: 768px)";
        @media3_: ~"(max-width: 767px)";

        @media4: ~"(min-width: 480px)";
        @media4_: ~"(max-width: 479px)";


        html{
            font-size: 10px;
        }

        #main_menu{
            background-color: #333;
            height: 10rem;
            *{
                color: #fff;
            }
        }

 a {
	color: @white !important;
}

.navigation-top {
	background: @blueBoma;
	height: @headerHeight;

	a {
		font-weight: 400;
		text-transform: uppercase;
		font-size: 16px;
		padding: 0;
		text-decoration: none;
		@media screen and @media1_{
			letter-spacing: 0px;
		}
	}
}

#masthead {

	.logo_container {
		margin-right: auto;
	}

	.navigation-top {
		border: none;
	}

	.wrap {		
    height: 100%;

    @media screen and @media2 {
	    display: flex;
	    align-items: center;
    }
	}

	.navbar-brand {
		img {
			@media screen and @media2_ {
			    margin-top: 1.5rem;
			}
		}
	}

	.navbar-nav {
		[class*="menu-item"] {
	    margin-bottom: .5rem;
	    margin-top: .5rem;
			@media screen and @media2 {
		    	margin-left: 2rem;
			}
			@media screen and @media1_ {
				margin-left: 1rem;
			}

	    &:first-child {
	    	margin-left: 0;
	    }
		}
	}	

	.navbar {
		background-color: @blueBoma;
		z-index: 9999;	

		.navbar-toggler-right {
		    transform: translateY(-200%);
		}

		.navbar-toggler {
			border-color: @white;
		}

		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
		}
	}

	.navbar-brand {
		@media screen and @media2{
			display: block;
			height: 4rem;
		}

		img {
			height: 100%;
		}
	}
}

